* {
    box-sizing: border-box;
    margin: 0;
    background-color: beige;
}

.title {
    text-align: center;
    color: white;
    background-color: #000021;
    font-size: 8rem;
}

.random__heading, .search__heading, .trending__heading {
    margin-bottom: 5rem;
    font-size: 4rem;
}


.navigation {
    margin-top: 2rem;
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navigation img {
    width: 4rem;
}

.--active {
    border: 5px solid #1de9b6;
}

.inactive {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.button {
    border: none;
}

.button__search, .button__random {
    align-self: center;
    outline: none;
    cursor: pointer;
    margin-top: 3rem;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 3rem;
    width: 14rem;
}



.button__random :hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}


.search__input {
    display: block;
    padding: 20px;
    border: 0;
    border-bottom: 1px solid aliceblue;
    border-radius: 30px;
    background-color: rgb(215, 248, 250);
    font-size: 35pt;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: 2rem;
    height: 6rem;
    width: 53rem;
    
}

.search__label {

    font-size: 2rem;
}

.search__images-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search__images-container img {
    margin: 1rem;
    width: 40%;
}

.trending__images-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trending__images-container img {
    margin: 1rem;
    width: 40%;
}

.gif {
    background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
}

.home__error-gif {
    align-self: center;
    width: 20%;
}

.home__error-message {
    align-self: center;
    font-size: 4rem;
    color: red;
    margin: 1rem;
}

.search__error-message {
    font-size: 4rem;
    color: red;
    margin: 1rem;
}

.trending__error-message {
    font-size: 4rem;
    color: red;
    margin: 1rem;
}


@media (min-width: 1250px) { 
    
    nav {
        display: none;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .random {
        display: flex;
        flex: 1;
        border-right: thick solid #32a1ce
    }

    .search {
        display: flex;
        flex: 1;
        border-right: thick solid #32a1ce
    }

    .trending {
        display: flex;
        flex: 1
    }

    .random img {
        align-self: center;
        width: 80%;
        min-height: 30rem;
    }


    .gif {
        background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
    }

}
